In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('spotify-2023.csv')
df.columns
df.head()

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,14,553,147,141381703,43,...,125,B,Major,80,89,83,31,0,8,4
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286,48,...,92,C#,Major,71,61,74,7,0,10,4
2,vampire,Olivia Rodrigo,1,2023,6,30,1397,113,140003974,94,...,138,F,Major,51,32,53,17,0,31,6
3,Cruel Summer,Taylor Swift,1,2019,8,23,7858,100,800840817,116,...,170,A,Major,55,58,72,11,0,11,15
4,WHERE SHE GOES,Bad Bunny,1,2023,5,18,3133,50,303236322,84,...,144,A,Minor,65,23,80,14,63,11,6

In [3]:
df.describe()

,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,in_apple_playlists,in_apple_charts,in_deezer_charts,bpm,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
count,953.000000,953.000000,953.000000,953.000000,953.000000,953.000000,953.000000,953.000000,953.000000,953.000000,953.00000,953.000000,953.000000,953.000000,953.000000,953.000000,953.000000
mean,1.556139,2018.238195,6.033578,13.930745,5200.124869,12.009444,67.812172,51.908709,2.666317,122.540399,66.96957,51.431270,64.279119,27.057712,1.581322,18.213012,10.131165
std,0.893044,11.116218,3.566435,9.201949,7897.608990,19.575992,86.441493,50.630241,6.035599,28.057802,14.63061,23.480632,16.550526,25.996077,8.409800,13.711223,9.912888
min,1.000000,1930.000000,1.000000,1.000000,31.000000,0.000000,0.000000,0.000000,0.000000,65.000000,23.00000,4.000000,9.000000,0.000000,0.000000,3.000000,2.000000
25%,1.000000,2020.000000,3.000000,6.000000,875.000000,0.000000,13.000000,7.000000,0.000000,100.000000,57.00000,32.000000,53.000000,6.000000,0.000000,10.000000,4.000000
50%,1.000000,2022.000000,6.000000,13.000000,2224.000000,3.000000,34.000000,38.000000,0.000000,121.000000,69.00000,51.000000,66.000000,18.000000,0.000000,12.000000,6.000000
75%,2.000000,2022.000000,9.000000,22.000000,5542.000000,16.000000,88.000000,87.000000,2.000000,140.000000,78.00000,70.000000,77.000000,43.000000,0.000000,24.000000,11.000000
max,8.000000,2023.000000,12.000000,31.000000,52898.000000,147.000000,672.000000,275.000000,58.000000,206.000000,96.00000,97.000000,97.000000,97.000000,91.000000,97.000000,64.000000

In [4]:
# converting files to text file
txt = df.to_csv('spotify_txt',sep='\n',header=df.columns,index=None,na_rep='na',index_label="index")

<!-- understanding data using info() -->
# Info About our Dataset

In [5]:
df.info(verbose=True,memory_usage=True,show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953 entries, 0 to 952
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   track_name            953 non-null    object
 1   artist(s)_name        953 non-null    object
 2   artist_count          953 non-null    int64
 3   released_year         953 non-null    int64
 4   released_month        953 non-null    int64
 5   released_day          953 non-null    int64
 6   in_spotify_playlists  953 non-null    int64
 7   in_spotify_charts     953 non-null    int64
 8   streams               953 non-null    object
 9   in_apple_playlists    953 non-null    int64
 10  in_apple_charts       953 non-null    int64
 11  in_deezer_playlists   953 non-null    object
 12  in_deezer_charts      953 non-null    int64
 13  in_shazam_charts      903 non-null    object
 14  bpm                   953 non-null    int64
 15  key                   858 non-null    object
 16  mode                  953 non-null    object
 17  danceability_%        953 non-null    int64
 18  valence_%             953 non-null    int64
 19  energy_%              953 non-null    int64
 20  acousticness_%        953 non-null    int64
 21  instrumentalness_%    953 non-null    int64
 22  liveness_%            953 non-null    int64
 23  speechiness_%         953 non-null    int64
dtypes: int64(17), object(7)
memory usage: 178.8+ KB

In [6]:
print("identifyig shape of our dataframe")
print(df.shape)

print(df.columns.to_list())
columns = df.columns.to_list()

identifyig shape of our dataframe
(953, 24)
['track_name', 'artist(s)_name', 'artist_count', 'released_year', 'released_month', 'released_day', 'in_spotify_playlists', 'in_spotify_charts', 'streams', 'in_apple_playlists', 'in_apple_charts', 'in_deezer_playlists', 'in_deezer_charts', 'in_shazam_charts', 'bpm', 'key', 'mode', 'danceability_%', 'valence_%', 'energy_%', 'acousticness_%', 'instrumentalness_%', 'liveness_%', 'speechiness_%']

In [7]:
print(df)

                              track_name      artist(s)_name  artist_count  \
0    Seven (feat. Latto) (Explicit Ver.)    Latto, Jung Kook             2
1                                   LALA         Myke Towers             1
2                                vampire      Olivia Rodrigo             1
3                           Cruel Summer        Taylor Swift             1
4                         WHERE SHE GOES           Bad Bunny             1
..                                   ...                 ...           ...
948                         My Mind & Me        Selena Gomez             1
949            Bigger Than The Whole Sky        Taylor Swift             1
950                 A Veces (feat. Feid)  Feid, Paulo Londra             2
951                        En La De Ella  Feid, Sech, Jhayco             3
952                                Alone           Burna Boy             1

     released_year  released_month  released_day  in_spotify_playlists  \
0             2023               7            14                   553
1             2023               3            23                  1474
2             2023               6            30                  1397
3             2019               8            23                  7858
4             2023               5            18                  3133
..             ...             ...           ...                   ...
948           2022              11             3                   953
949           2022              10            21                  1180
950           2022              11             3                   573
951           2022              10            20                  1320
952           2022              11             4                   782

     in_spotify_charts    streams  in_apple_playlists  ...  bpm key   mode  \
0                  147  141381703                  43  ...  125   B  Major
1                   48  133716286                  48  ...   92  C#  Major
2                  113  140003974                  94  ...  138   F  Major
3                  100  800840817                 116  ...  170   A  Major
4                   50  303236322                  84  ...  144   A  Minor
..                 ...        ...                 ...  ...  ...  ..    ...
948                  0   91473363                  61  ...  144   A  Major
949                  0  121871870                   4  ...  166  F#  Major
950                  0   73513683                   2  ...   92  C#  Major
951                  0  133895612                  29  ...   97  C#  Major
952                  2   96007391                  27  ...   90   E  Minor

    danceability_%  valence_% energy_% acousticness_%  instrumentalness_%  \
0               80         89       83             31                   0
1               71         61       74              7                   0
2               51         32       53             17                   0
3               55         58       72             11                   0
4               65         23       80             14                  63
..             ...        ...      ...            ...                 ...
948             60         24       39             57                   0
949             42          7       24             83                   1
950             80         81       67              4                   0
951             82         67       77              8                   0
952             61         32       67             15                   0

     liveness_%  speechiness_%
0             8              4
1            10              4
2            31              6
3            11             15
4            11              6
..          ...            ...
948           8              3
949          12              6
950           8              6
951          12              5
952          11              5

[953 rows x 24 columns]

In [8]:
print("Checking for missing values")
# print(df[df[0,:] == " "])
# indexing by its positon
# print(df.iloc[0])
print(df[columns[0]],end='\n')

Checking for missing values
0      Seven (feat. Latto) (Explicit Ver.)
1                                     LALA
2                                  vampire
3                             Cruel Summer
4                           WHERE SHE GOES
                      ...
948                           My Mind & Me
949              Bigger Than The Whole Sky
950                   A Veces (feat. Feid)
951                          En La De Ella
952                                  Alone
Name: track_name, Length: 953, dtype: object

In [9]:
print('isolating one row using .. .. .. . ... .')
df[df.index == 3]
# isolating two or more row
df[df.index.isin(range(0,10))]

isolating one row using .. .. .. . ... .

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,14,553,147,141381703,43,...,125,B,Major,80,89,83,31,0,8,4
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286,48,...,92,C#,Major,71,61,74,7,0,10,4
2,vampire,Olivia Rodrigo,1,2023,6,30,1397,113,140003974,94,...,138,F,Major,51,32,53,17,0,31,6
3,Cruel Summer,Taylor Swift,1,2019,8,23,7858,100,800840817,116,...,170,A,Major,55,58,72,11,0,11,15
4,WHERE SHE GOES,Bad Bunny,1,2023,5,18,3133,50,303236322,84,...,144,A,Minor,65,23,80,14,63,11,6
5,Sprinter,"Dave, Central Cee",2,2023,6,1,2186,91,183706234,67,...,141,C#,Major,92,66,58,19,0,8,24
6,Ella Baila Sola,"Eslabon Armado, Peso Pluma",2,2023,3,16,3090,50,725980112,34,...,148,F,Minor,67,83,76,48,0,8,3
7,Columbia,Quevedo,1,2023,7,7,714,43,58149378,25,...,100,F,Major,67,26,71,37,0,11,4
8,fukumean,Gunna,1,2023,5,15,1096,83,95217315,60,...,130,C#,Minor,85,22,62,12,0,28,9
9,La Bebe - Remix,"Peso Pluma, Yng Lvcas",2,2023,3,17,2953,44,553634067,49,...,170,D,Minor,81,56,48,21,0,8,33

In [10]:
# if we want to fetch the specific row by labels then we use loc[]
# otherwise if we want to fetch row by using index .iloc[]
# The 1 represents the row index (label)
print("accessing the data using labels..")
df.loc[0][:4]

accessing the data using labels..

track_name        Seven (feat. Latto) (Explicit Ver.)
artist(s)_name                       Latto, Jung Kook
artist_count                                        2
released_year                                    2023
Name: 0, dtype: object

In [11]:
# df.iloc[0,:5]
print(df.iloc[100:110,0])

100                                                Lover
101    Too Many Nights (feat. Don Toliver & with Future)
102                                             Chemical
103                                          Mockingbird
104                                            New Jeans
105                                         Primera Cita
106                              Cold Heart - PNAU Remix
107                                           Dandelions
108                                                Bones
109                                 Set Fire to the Rain
Name: track_name, dtype: object

In [12]:
df.loc[100:110,columns[0:3]]

,track_name,artist(s)_name,artist_count
100,Lover,Taylor Swift,1
101,Too Many Nights (feat. Don Toliver & with Future),"Future, Metro Boomin, Don Toliver",3
102,Chemical,Post Malone,1
103,Mockingbird,Eminem,1
104,New Jeans,NewJeans,1
105,Primera Cita,Carin Leon,1
106,Cold Heart - PNAU Remix,"Dua Lipa, Elton John, Pnau",3
107,Dandelions,Ruth B.,1
108,Bones,Imagine Dragons,1
109,Set Fire to the Rain,Adele,1
110,Money Trees,"Kendrick Lamar, Jay Rock",2

In [13]:
df.loc[df['artist_count'] > 2,['artist(s)_name','artist_count']]

                                        artist(s)_name  artist_count
20            Gabito Ballesteros, Junior H, Peso Pluma             3
24                  The Weeknd, Madonna, Playboi Carti             3
32                 The Weeknd, 21 Savage, Metro Boomin             3
35   Big One, Duki, Lit Killah, Maria Becerra, FMK,...             8
43                      Tyler, The Creator, Kali Uchis             3
..                                                 ...           ...
920  Fran C, Polima WestCoast, Nickoog Clk, Pablito...             4
929                                 Luciano, Aitch, Bï¿½             3
930                 MC Ryan SP, Love Funk, Mc Paiva ZS             3
932                     Drake, Travis Scott, 21 Savage             3
951                                 Feid, Sech, Jhayco             3

[112 rows x 2 columns]

In [15]:
# cleaning the data using pandas

print("sum of all null elements")
print(df.isnull().sum())

sum of all null elements
track_name               0
artist(s)_name           0
artist_count             0
released_year            0
released_month           0
released_day             0
in_spotify_playlists     0
in_spotify_charts        0
streams                  0
in_apple_playlists       0
in_apple_charts          0
in_deezer_playlists      0
in_deezer_charts         0
in_shazam_charts        50
bpm                      0
key                     95
mode                     0
danceability_%           0
valence_%                0
energy_%                 0
acousticness_%           0
instrumentalness_%       0
liveness_%               0
speechiness_%            0
dtype: int64

In [19]:
# one way to deal with missing value is drop the missing values
df3 = df.copy()
print(df3.shape)

(953, 24)

In [25]:
df3.dropna(inplace=True,axis=1,how='any')
print(df3.shape)
df3.head()

(817, 24)

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,14,553,147,141381703,43,...,125,B,Major,80,89,83,31,0,8,4
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286,48,...,92,C#,Major,71,61,74,7,0,10,4
2,vampire,Olivia Rodrigo,1,2023,6,30,1397,113,140003974,94,...,138,F,Major,51,32,53,17,0,31,6
3,Cruel Summer,Taylor Swift,1,2019,8,23,7858,100,800840817,116,...,170,A,Major,55,58,72,11,0,11,15
4,WHERE SHE GOES,Bad Bunny,1,2023,5,18,3133,50,303236322,84,...,144,A,Minor,65,23,80,14,63,11,6

In [ ]:
# dealing with missing values by replacing missing values...
print('replacing missing value with mean of row or column..')
df4 = df.copy()
print(df4.info())

In [103]:
lin_dat = pd.read_csv('insurance.csv')
lin_dat.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [104]:
print('how many null rows in dataframe')
lin_dat['age'][:3] = np.nan
lin_dat.loc[0][1]

how many null rows in dataframe

C:\Users\pranj\AppData\Local\Temp\ipykernel_13024\1926193608.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lin_dat['age'][:3] = np.nan
C:\Users\pranj\AppData\Local\Temp\ipykernel_13024\1926193608.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  lin_dat.loc[0][1]

'female'

In [105]:
lin_dat.isna()
df4 = lin_dat.copy()
df4.dropna(axis=0,inplace=True,how='any')
df4.head()

    age     sex     bmi  children smoker     region      charges
3  33.0    male  22.705         0     no  northwest  21984.47061
4  32.0    male  28.880         0     no  northwest   3866.85520
5  31.0  female  25.740         0     no  southeast   3756.62160
6  46.0  female  33.440         1     no  southeast   8240.58960
7  37.0  female  27.740         3     no  northwest   7281.50560

In [111]:
mean = lin_dat['age'].mean()
lin_dat.fillna(mean,inplace=True)

In [112]:
duplicate = lin_dat[['age','sex']][:4]
duplicate2 = lin_dat[['age','sex']][5:6]
lin_dat1 = pd.concat([duplicate,duplicate2])
lin_dat1.head()

         age     sex
0  39.246442  female
1  39.246442    male
2  39.246442    male
3  33.000000    male
5  31.000000  female

In [115]:
lin_dat1.drop_duplicates(inplace=True)
print(lin_dat1.shape)
lin_dat1.head()

(4, 2)

         age     sex
0  39.246442  female
1  39.246442    male
3  33.000000    male
5  31.000000  female